.header{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    height: 110px;
    width: auto;
    border: 1px solid black;
}

.logo1{
    height: 90px;
    width: auto;
    /* padding-top: 6px; */
    margin: 12px;
}

.item{
    display: flex; 
    gap: 20px;
    padding-right: 80px;
    margin-top: 40px;
}

.item li{
    list-style-type: none;
    font-size: 1.6rem;
}


.res-card{
    /* height: 270px; */
    width: 210px;
    /* width: fit-content; */
    border: 1px solid black;
    word-wrap: break-word;
    background-color: #f0f0f0;
}

.res-img{
    height: 100px;
    width: 175px;
    margin: 6px;
    border-radius: 10px;
}

.res-card:hover{
    cursor: pointer;
    box-shadow:5px 5px #beb4b4 ;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn{
    margin: 10px;
}

.btn:hover{
    cursor: pointer;
}

.shimmer{
    height: 300px;
    width: 200px;
    background-color: #beb4b4;
    border: 1px solid red;
    display: flex;
    gap: 10px;
}

.shimmer-ui{
     display: flex;
    gap: 10px;
}

.logbtn{
    height: 40px;
    width: 60px;
    border: 0.7px solid black;
    background-color: rgb(67, 67, 230);
}

.logbtn:hover{
    cursor: pointer;
    background-color: azure;
}

.search{
    margin: 10px;
    display: flex;
    gap: 10px;
}

.restromenuimg{
    height: 200px;
    width: 200px;
}

.rmc{
    color: inherit;
    text-decoration: none;
}